@page "/contact"
@using Microsoft.Extensions.Options
@using dev_portfolio.Components.Data
@using dev_portfolio.Components.Models

@inject ISnackbar Snackbar
@inject IEmailService emailService

<PageTitle>Contact Me</PageTitle>

<MudContainer>
    <MudText Typo="Typo.h3" GutterBottom="true">Contact Me</MudText>
    <EditForm Model="@contactMessage" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator />
        @if (_showInvalidSummary)
        {
            <MudAlert class="mb-5" Severity="Severity.Error">
                <div class="ms-3">
                    <ValidationSummary />
                </div>
            </MudAlert>
        }
        <MudGrid>
            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="contactMessage.Name" For="@(() => contactMessage.Name)" Label="Name"
                    Variant="Variant.Filled" />
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudTextField @bind-Value="contactMessage.Email" For="@(() => contactMessage.Email)" Label="Email"
                    Variant="Variant.Filled" />
            </MudItem>
            <MudItem xs="12">
                <MudTextField @bind-Value="contactMessage.Message" For="@(() => contactMessage.Message)" Label="Message"
                    Variant="Variant.Filled" Lines="5" />
            </MudItem>

            <MudItem xs="12">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="mt-4">
                    Submit</MudButton>
            </MudItem>
        </MudGrid>
    </EditForm>
</MudContainer>

@code {
    private bool _showInvalidSummary = false;
    private ContactMessage contactMessage = new();
    private EmailData emailData = new()
    {
        RecipientId = "shivamveerabudren@gmail.com",
        RecipientName = "Shivam",
        Subject = "Contact"
    };

    private void HandleInvalidSubmit()
    {
        _showInvalidSummary = true;
    }

    private async Task HandleValidSubmit()
    {
        bool? isSent = null;
        _showInvalidSummary = false;
        emailData.Body = contactMessage.FormatEmail();
        isSent = await emailService.SendEmail(emailData);

        if (isSent is not null) 
        {
            if (isSent is true)
                Snackbar.Add("Message sent successfully", Severity.Success);
            else
                Snackbar.Add("Error sending message", Severity.Error);
        }

        contactMessage = new();
    }
}