@page "/"
@using dev_portfolio.Components.Data
@using dev_portfolio.Components.Models
@using dev_portfolio.Components.Reusable

@inject IConfiguration config
@inject ProjectService projectService
@inject DeveloperProfileService profileService

<PageTitle>Home</PageTitle>

<MudContainer>
    <MudGrid Justify="Justify.Center" Class="mt-8">
        <MudItem xs="12" sm="10" md="8">
            <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Welcome to My Portfolio</MudText>
            <MudText Typo="Typo.h5" Style="font-style: italic;" Class="mt-2" Align="Align.Center" GutterBottom="true">"... with proper design, the features come cheaply. This approach is arduous, but continues to succeed."</MudText>
            <MudText Typo="Typo.h5" Style="font-style: bold;" Align="Align.Right" GutterBottom="true">   - Dennis Ritchie</MudText>
        </MudItem>
    </MudGrid>

    <MudDivider Class="my-8" />

    <MudText Typo="Typo.h4" GutterBottom="true">Featured Projects</MudText>
    <MudGrid Spacing="4">
        @if (featuredProjects == null) 
        {
            <p>Loading ...</p>
        }
        else
        {
            @foreach (var project in featuredProjects)
            {
                <ProjectCard ProjectData="project" Featured="true"/>
            }
        }
    </MudGrid>

    <MudDivider Class="my-8" />

    <MudText Typo="Typo.h4" GutterBottom="true">Skills</MudText>
    @if (profile is null) 
    {
        <p>Loading ...</p>
    }
    else 
    {
        @foreach (var skill in profile.Skills)
        {
            <MudChip T="string" Color="Color.Primary">@skill</MudChip>
        }
    }
</MudContainer>

@code {
    private IConfiguration? _config;
    private List<Project> featuredProjects = new List<Project>();
    private DeveloperProfile? profile = null;

    protected override async Task OnInitializedAsync()
    {
        _config = config;
        featuredProjects = (await projectService.GetProjectsAsync()).Take(3).ToList(); 

        var profileOwner = _config["Profile:Owner"];
        if (profileOwner is not null)
            profile = await profileService.GetProfile(profileOwner);
    }
}
