@page "/projects"
@using dev_portfolio.Components.Data
@using dev_portfolio.Components.Models
@using dev_portfolio.Components.Reusable
@inject ProjectService projectService

<PageTitle>My Projects</PageTitle>

<MudContainer>
    <MudText Typo="Typo.h3" GutterBottom="true">My Projects</MudText>
    <MudGrid Spacing="4">
        @if (projects == null)
        {
            <p>Loading ...</p>
        }
        else 
        {
            @foreach (var project in projects)
            {
                <ProjectCard ProjectData="project"/>
            }
        }
    </MudGrid>
</MudContainer>

@code {
    private List<Project> projects = new List<Project>();

    protected override async Task OnInitializedAsync()
    {
        projects = await projectService.GetProjectsAsync();
    }
}
